/*
 * Jaunty Slider v2.0 - http://jauntyslider.luizgustavoweb.com
 * The quickest way to slide a HTML list
 *
 * Open source under the MIT License
 * © 2017 Luiz Gustavo Martins
 *
 */
 
@import 'mixins';

.jauntyslider-wrapper
{
position: relative;
overflow: hidden;
		
	ul
	{
	padding: 0;
	margin: 0;
	list-style-type: none;
		
		li
		{
		transition: width 0.3s ease;
		position: relative;
		float: left;
		
			img
			{
			vertical-align: middle;
			@include user-select('none');
			}

		}
		
	}

	.jauntyslider-previous,
	.jauntyslider-next
	{
	display: none;
	position: absolute;
	width: 35px;
	height: 65px;
	z-index: 1;
	left: 20px;
	top: 40%;
	cursor: pointer;
	background: url(../img/jauntyslider.png) no-repeat 0 0;
	@include user-select(none);
	}

	.jauntyslider-next
	{
	left: auto;
	right: 20px;
	background-position: -36px 0;
	}

	ul.jauntyslider-navigation
	{
	width: auto !important;
	height: 10px !important;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 50%;
	bottom: 3%;
	list-style-type: none;
	@include user-select(none);
	
		li
		{
		background: rgba(119, 119, 119, 0.7);
		width: 10px;
		height: 10px;
		float: left;
		cursor: pointer;
		@include user-select(none);
		
			&:not(:last-child)
			{
			margin-right: 5px;
			}
		
			&.active
			{
			background: rgba(255, 255, 255, 0.9);
			}
			
		}
		
	}
	
}
